
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Bursa Hizmet Rehberi</span>
                            <span class="section-heading-lower">Hakkımızda</span>
                        </h2>
                        <p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.</p>
                        <p class="mb-0">
                            We guarantee that you will fall in
                            <em>lust</em>
                            with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.
                        </p>
                        <hr />
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Adres</span>                           
                        </h2>
                        <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12191.443229196928!2d29.060945430865893!3d40.18991102751574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca3e0aa9bbc581%3A0x33ac9f091b89b110!2sGalle+Han!5e0!3m2!1str!2str!4v1557243227494!5m2!1str!2str" width="720" height="400" frameborder="1" style="border:1" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>